# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 2.1

# üèÉ‚Äç‚ôÇÔ∏èü§∏‚Äç‚ôÇÔ∏èüèãÔ∏è‚Äç‚ôÄÔ∏è 
–°–µ–≥–æ–¥–Ω—è —Ç—ã –∞–Ω–∞–ª–∏—Ç–∏–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ–π —Å–µ—Ç–∏ —Ñ–∏—Ç–Ω–µ—Å-–∫–ª—É–±–æ–≤, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–µ–¥–ª–∞–≥–∞–µ—Ç —Ç—Ä–∏ –≤–∏–¥–∞ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –¥–ª—è –≤–∑—Ä–æ—Å–ª—ã—Ö –∏ –¥–µ—Ç–µ–π:
- –û–±—ã—á–Ω–æ–µ –∑–∞–Ω—è—Ç–∏–µ –≤ –∑–∞–ª–µ,
- –°–∞–π–∫–ª–∏–Ω–≥ (–∫–∞—Ä–¥–∏–æ—Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞ –Ω–∞ –≤–µ–ª–æ—Ç—Ä–µ–Ω–∞–∂—ë—Ä–µ),
- –§—É–Ω–∫—Ü–∏–æ–Ω–∞–ª—å–Ω–∞—è —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞.

–ü–µ—Ä–≤–∞—è —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞ –≤ –Ω–∞—à–∏—Ö –∫–ª—É–±–∞—Ö –≤—Å–µ–≥–¥–∞ –±–µ—Å–ø–ª–∞—Ç–Ω–∞—è.

–¢–µ–±–µ –¥–æ—Å—Ç—É–ø–Ω–∞ –≤—ã–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö:
- –û –Ω–∞—à–∏—Ö –∫–ª–∏–µ–Ω—Ç–∞—Ö ‚Äî `users_hw.xlsx`,

- –û–± –æ–ø–ª–∞—Ç–∞—Ö —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ ‚Äî `payments_hw.xlsx`,

- –û –ø–æ—Å–µ—â–µ–Ω–∏–∏ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ ‚Äî `workouts_hw.csv`. 

–ù–∞ –¥–≤–æ—Ä–µ –∫–æ–Ω–µ—Ü 2020 –≥–æ–¥–∞ ‚Äî –≤—Ä–µ–º—è —Å—Ç—Ä–∞—Ç–µ–≥–∏—á–µ—Å–∫–æ–≥–æ –ø–ª–∞–Ω–∏—Ä–æ–≤–∞–Ω–∏—è üéØ. –ö —Ç–µ–±–µ –ø—Ä–∏—à–µ–ª –¥–∏—Ä–µ–∫—Ç–æ—Ä –Ω–∞—à–µ–π —Å–µ—Ç–∏ –∏ –ø–æ–ø—Ä–æ—Å–∏–ª –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–∑–≤–æ–ª—è—Ç –±–æ–ª–µ–µ —Ç–æ—á–Ω–æ —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å –ø–ª–∞–Ω—ã –Ω–∞ —Å–ª–µ–¥—É—é—â–∏–π –≥–æ–¥:

1. –ö–∞–∫ –∏–∑–º–µ–Ω—è–ª–∞—Å—å –µ–∂–µ–º–µ—Å—è—á–Ω–∞—è –≤—ã—Ä—É—á–∫–∞ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–∏–ø—É —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –≤ —Ç–µ—á–µ–Ω–∏–µ 2020 –≥–æ–¥–∞?
2. –ö–∞–∫–∏–µ —Ç—Ä–µ–Ω–µ—Ä—ã –≤ —Å–µ—Ç–∏ –ø—Ä–æ–≤–µ–ª–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–ª–∞—Ç–Ω—ã—Ö –∑–∞–Ω—è—Ç–∏–π –∑–∞ –≤—Å–µ –≤—Ä–µ–º—è?
3. –°–∫–æ–ª—å–∫–æ –¥–µ–Ω–µ–≥ –∏ –∑–∞ –∫–∞–∫–∏–µ —Ç–∏–ø—ã —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –ø—Ä–∏–Ω–µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞—á–∞–ª–∏ –∑–∞–Ω–∏–º–∞—Ç—å—Å—è –≤ –Ω–æ—è–±—Ä–µ?
4. –ö–∞–∫–∏–µ —Ä–µ–≥–∏–æ–Ω—ã –ø—Ä–∏–Ω–æ—Å—è—Ç –Ω–∞—à–µ–π —Å–µ—Ç–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∏ –º–µ–Ω—å—à–µ –≤—Å–µ–≥–æ –≤—ã—Ä—É—á–∫–∏? –†–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ä–µ–≥–∏–æ–Ω–æ–≤ –±—É–¥—É—Ç –æ–±—Å—É–∂–¥–∞—Ç—å—Å—è –Ω–∞ —Å–æ–≤–µ—Ç–µ –¥–∏—Ä–µ–∫—Ç–æ—Ä–æ–≤, –ø–æ—ç—Ç–æ–º—É –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤—ã–≥—Ä—É–∑–∏—Ç—å —ç—Ç–æ—Ç –æ—Ç—á–µ—Ç –≤ —Ñ–∞–π–ª —Ñ–æ—Ä–º–∞—Ç–∞ Excel, —á—Ç–æ–±—ã –≤–∫–ª—é—á–∏—Ç—å –µ–≥–æ –≤ —Ä–∞–∑–¥–∞—Ç–æ—á–Ω—ã–π –º–∞—Ç–µ—Ä–∏–∞–ª –¥–ª—è —Å–æ–≤–µ—â–∞–Ω–∏—è.

–í—ã–ø–æ–ª–Ω–∏–≤ —Å–ª–µ–¥—É—é—â–∏–µ —á–µ—Ç—ã—Ä–µ –∑–∞–¥–∞–Ω–∏—è, —Ç—ã —Å–º–æ–∂–µ—à—å –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –≤—Å–µ –≤–æ–ø—Ä–æ—Å—ã —Ä—É–∫–æ–≤–æ–¥–∏—Ç–µ–ª—è. –î–ª—è –Ω–∞—á–∞–ª–∞ —É–±–µ–¥–∏—Å—å, —á—Ç–æ —Ç—Ä–∏ –Ω–æ–≤—ã—Ö —Ñ–∞–π–ª–∞ —Å –¥–∞–Ω–Ω—ã–º–∏ —Å–∫–∞—á–∞–Ω—ã –≤ –ø–∞–ø–∫—É —Å —ç—Ç–∏–º –Ω–æ—É—Ç–±—É–∫–æ–º, –∏–º–ø–æ—Ä—Ç–∏—Ä—É–π –Ω—É–∂–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –∑–∞–≥—Ä—É–∑–∏ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã.

In [1]:
import pandas as pd
from datetime import datetime

users = pd.read_excel("users_hw.xlsx") # –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –∫–ª–∏–µ–Ω—Ç–∞–º
payments = pd.read_excel("payments_hw.xlsx") # –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –ø–ª–∞—Ç–µ–∂–∞–º
workouts = pd.read_csv("workouts_hw.csv") # –∑–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞–º

pd.set_option('display.float_format', lambda x: '%.2f' % x) # —ç—Ç–∞ —Å—Ç—Ä–æ–∫–∞ –ø–æ–º–æ–∂–µ—Ç —É–¥–æ–±–Ω–æ –≤—ã–≤–æ–¥–∏—Ç—å –±–æ–ª—å—à–∏–µ —á–∏—Å–ª–∞ –≤ —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ

## üßë‚Äçüíªüë©‚Äçüíª –õ–∞–π—Ñ—Ö–∞–∫ ‚Äì code style
–î–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã —Ä–∞–±–æ—Ç–∞—Ç—å —Å –∫–æ–¥–æ–º –±—ã–ª–æ —É–¥–æ–±–Ω–æ, —Ä–∞–∑–±–∏–≤–∞–π —Ä–µ—à–µ–Ω–∏–µ –Ω–∞ –ª–æ–≥–∏—á–µ—Å–∫–∏–µ –±–ª–æ–∫–∏ –∏ —Ä–∞–∑–Ω–æ—Å–∏ –ø–æ —Ä–∞–∑–Ω—ã–º —è—á–µ–π–∫–∞–º. –¢–∞–∫ —Ç—ã —Å–º–æ–∂–µ—à—å –∑–∞–ø—É—Å–∫–∞—Ç—å —è—á–µ–π–∫–∏ –ø–æ –æ—Ç–¥–µ–ª—å–Ω–æ—Å—Ç–∏ –∏ —Å–º–æ—Ç—Ä–µ—Ç—å, –∫–∞–∫–æ–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤—ã–¥–∞–µ—Ç –∫–∞–∂–¥—ã–π –±–ª–æ–∫ –∫–æ–¥–∞.

## –ó–∞–¥–∞–Ω–∏–µ 1

–ü–æ–¥–≥–æ—Ç–æ–≤—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è –æ—Ç–≤–µ—Ç–∞ –Ω–∞ –≤–æ–ø—Ä–æ—Å: ¬´__–ö–∞–∫ –∏–∑–º–µ–Ω—è–ª–∞—Å—å –µ–∂–µ–º–µ—Å—è—á–Ω–∞—è –≤—ã—Ä—É—á–∫–∞ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–∏–ø—É —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –≤ —Ç–µ—á–µ–Ω–∏–µ 2020 –≥–æ–¥–∞?__¬ª. 

### –ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å?

1. –ò–∑—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `payments` –∏ –¥–ª—è –Ω–∞—á–∞–ª–∞ –ø–µ—Ä–µ–≤–µ–¥–∏ –¥–∞—Ç—ã –≤ —Ñ–æ—Ä–º–∞—Ç `datetime`.

2. –° –ø–æ–º–æ—â—å—é —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –≤—ã–±–µ—Ä–∏ –ø–ª–∞—Ç–µ–∂–∏ —Ç–æ–ª—å–∫–æ –∑–∞ 2020 –≥–æ–¥.

3. –û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –ø–ª–∞—Ç–µ–∂–∏ —Ö—Ä–∞–Ω—è—Ç—Å—è –≤ —Ä–∞–∑–Ω—ã—Ö –≤–∞–ª—é—Ç–∞—Ö ‚Äî –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –ø—Ä–∏–≤–µ–¥–µ–º –≤—Å–µ –∫ —Ä—É–±–ª—è–º. –°–Ω–∞—á–∞–ª–∞ –¥–æ–±–∞–≤—å –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å—Ç–æ–ª–±–µ—Ü `fx_rate` —Å –∫—É—Ä—Å–æ–º –≤–∞–ª—é—Ç—ã –∏ –∑–∞–ø–æ–ª–Ω–∏ –µ–≥–æ —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `apply()`: –µ—Å–ª–∏ —ç—Ç–æ USD, —Ç–æ –±–µ—Ä–µ–º –∑–Ω–∞—á–µ–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π `USD_RATE`, –µ—Å–ª–∏ RUR ‚Äî —Å—Ç–∞–≤–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ `1`. –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è —Ä–µ–∞–ª–∏–∑—É–µ—Ç —ç—Ç—É –Ω–µ—Å–ª–æ–∂–Ω—É—é –ª–æ–≥–∏–∫—É.

4. –î–æ–±–∞–≤—å –µ—â–µ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü `amount_rub` —Å —Å—É–º–º–æ–π –ø–ª–∞—Ç–µ–∂–∞ –≤ —Ä—É–±–ª—è—Ö. –î–ª—è —ç—Ç–æ–≥–æ —É–º–Ω–æ–∂—å —Å—Ç–æ–ª–±–µ—Ü —Å —Å—É–º–º–æ–π –ø–ª–∞—Ç–µ–∂–∞ –Ω–∞ —Å—Ç–æ–ª–±–µ—Ü `fx_rate` —Å –∫—É—Ä—Å–æ–º –≤–∞–ª—é—Ç.

5. –ü–æ–ª—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å —Ä–∞–∑–±–∏–≤–∫–æ–π –≤—ã—Ä—É—á–∫–∏ –ø–æ –º–µ—Å—è—Ü–∞–º –∏ –ø–æ —Ç–∏–ø–∞–º —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ —Å –ø–æ–º–æ—â—å—é –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ —Å —Å—É–º–º–æ–π –º–µ—Ç–æ–¥–æ–º `groupby()`. 

6. –í—ã–≤–µ–¥–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –Ω–∞ —ç–∫—Ä–∞–Ω.

ü§î *–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω–æ–º –∞–Ω–∞–ª–∏–∑–µ.* –ë–ª–∞–≥–æ–¥–∞—Ä—è –∫–∞–∫–∏–º —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞–º –∫–æ–º–ø–∞–Ω–∏—è –º–æ–∂–µ—Ç –ø–æ–ª—É—á–∞—Ç—å –±–æ–ª—å—à–µ –≤—ã—Ä—É—á–∫–∏? –£ —ç—Ç–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è –Ω–µ—Ç –ø—Ä–∞–≤–∏–ª—å–Ω–æ–≥–æ –æ—Ç–≤–µ—Ç–∞, –º—ã –ª–∏—à—å –ø—Ä–µ–¥–ª–∞–≥–∞–µ–º —Ç–µ–±–µ –ø–æ—Ä–∞–∑–º—ã—à–ª—è—Ç—å.

In [ ]:
payments.info()

In [ ]:
payments.head()

In [2]:
payments['payment_date']=pd.to_datetime(payments['payment_date']) #–º–µ–Ω—è–µ–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–æ–ª–±—Ü–µ payment_date –Ω–∞ datetime
payments.head()

    user_id  payment_id workout_type  amount payment_date currency
0 193433.00     3733.00      general 7522.49   2019-06-04      RUR
1 193433.00    12219.00      general 8346.04   2019-08-05      RUR
2 329226.00    13733.00      general 8707.38   2019-08-09      RUR
3 193433.00    14602.00      general 7432.49   2019-12-04      RUR
4 193433.00    14603.00      general  114.64   2019-08-04      RUR

In [4]:
import datetime as dt
payments=payments.loc[payments['payment_date'].dt.year==2020] #—Ñ–æ—Ä–º–∏—Ä—É–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –ø–ª–∞—Ç–µ–∂–µ–π 2020 –≥–æ–¥–∞

In [5]:
USD_RATE = 73.14 # –∫—É—Ä—Å –¥–æ–ª–ª–∞—Ä–∞

def map_currency(currency): # –æ–ø—Ä–µ–¥–µ–ª–∏ —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ fx_rate –º–µ—Ç–æ–¥–æ–º .apply()
    for x in currency:
        if x=='RUR':
            fx_rate=1
        else:
            fx_rate=USD_RATE
    return fx_rate
        
 
    
# Hint: groupby() –ø–æ–∑–≤–æ–ª—è–µ—Ç –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å —Å—Ä–∞–∑—É –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –ø–æ–ª—è–º. –ï—Å–ª–∏ –Ω–µ –ø–æ–º–Ω–∏—à—å, –∫–∞–∫ –∏–º–µ–Ω–Ω–æ, —Å–º–µ–ª–æ —Å–º–æ—Ç—Ä–∏ —à–ø–∞—Ä–≥–∞–ª–∫—É.

In [6]:
payments['fx_rate']=payments['currency'].apply(map_currency)

payments['amount_rub']=payments['amount']*payments['fx_rate']

In [7]:
payments['amount_rub'].groupby([payments['payment_date'].dt.month, payments['workout_type']]).sum()

payment_date  workout_type
1             cycling             4718222.59
              functional test      585157.88
              general           535439715.51
2             cycling             6772524.04
              functional test     1033587.01
              general           471423195.43
3             cycling             3539765.87
              functional test      687724.34
              general           566776987.49
4             cycling             7419683.02
              functional test     1596086.09
              general           696037270.68
5             cycling             8790673.68
              general           720724985.28
6             cycling             4648152.19
              functional test     1084060.21
              general           609268410.55
7             cycling             7351258.42
              functional test      577872.01
              general           646318956.36
8             cycling            10431088.40
              functional test      577872.01
              general           575487454.39
9             cycling             9621091.60
              general           606252285.93
10            cycling             8654534.99
              functional test     2160727.03
              general           741238557.68
11            cycling            10812427.41
              functional test      661917.78
              general           658612622.54
12            cycling             6302094.68
              general           211086766.21
Name: amount_rub, dtype: float64

## –í—ã–≤–æ–¥:
–ü–æ –ø–æ–ª—É—á–µ–Ω–Ω—ã–º –¥–∞–Ω–Ω—ã–º –≤–∏–¥–Ω–æ, —á—Ç–æ –≤—ã—Ä—É—á–∫–∞, –∫–æ—Ç–æ—Ä—É—é –ø—Ä–∏–Ω–æ—Å—è—Ç —Ç—Ä–µ–Ω–µ—Ä–æ–≤–∫–∏ —Ç–∏–ø–∞ "general" –Ω–∞ –ø–æ—Ä—è–¥–æ–∫ –≤—ã—à–µ —á–µ–∏ —Ç—Ä–µ–Ω–µ—Ä–æ–≤–∫–∏ —Ç–∏–ø–∞ "cycling" –∏ "fuctional test"

## #–ó–∞–¥–∞–Ω–∏–µ 2

–û–ø—Ä–µ–¥–µ–ª–∏, __–∫–∞–∫–æ–π —Ç—Ä–µ–Ω–µ—Ä –≤ —Å–µ—Ç–∏ –ø—Ä–æ–≤–µ–ª –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –ø–ª–∞—Ç–Ω—ã—Ö –∑–∞–Ω—è—Ç–∏–π –∑–∞ –≤—Å–µ –≤—Ä–µ–º—è__. –° —Å–∞–º—ã–º–∏ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω—ã–º–∏ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞–º–∏ –º—ã –æ—Ä–≥–∞–Ω–∏–∑—É–µ–º –∏–Ω—Ç–µ—Ä–≤—å—é, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å, —á—Ç–æ –≤–ª–∏—è–µ—Ç –Ω–∞ –∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç.

### –ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å? 

1. –ò–∑—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `workouts`.

2. –ò—Å–∫–ª—é—á–∏ –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Ç—Ä–µ–Ω–µ—Ä–æ–≤ –∏–∑ –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç–∞ `Sales`, —Ç–∞–∫ –∫–∞–∫ –æ–Ω–∏ –ø—Ä–æ–≤–æ–¥—è—Ç —Ç–æ–ª—å–∫–æ –±–µ—Å–ø–ª–∞—Ç–Ω—ã–µ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏, –∞ –Ω–∞–º –∏–Ω—Ç–µ—Ä–µ—Å–Ω—ã —Ç–æ–ª—å–∫–æ –ø–ª–∞—Ç–Ω—ã–µ –∑–∞–Ω—è—Ç–∏—è.

3. –°–¥–µ–ª–∞–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫—É –ø–æ `trainer_id` –∏ –≤—ã–≤–µ–¥–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –ø–æ `workout_id`. 

4. –ù–∞–π–¥–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –∏ —Å–æ—Ö—Ä–∞–Ω–∏ –µ–≥–æ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é `max_trainings`. –ù–µ –∑–∞–±—É–¥—å, —á—Ç–æ –ø–æ—Å–ª–µ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –≤ –ø—Ä–æ—à–ª–æ–º –ø—É–Ω–∫—Ç–µ, –∏–Ω–¥–µ–∫—Å–æ–º —Å—Ç–∞–ª —Å—Ç–æ–ª–±–µ—Ü `trainer_id`. –í–æ–∑–º–æ–∂–Ω–æ, —Ç–µ–±–µ –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∏–Ω–¥–µ–∫—Å—ã –≤ –∫–æ–ª–æ–Ω–∫–∏.

5. –í—ã–≤–µ–¥–∏ –Ω–∞ —ç–∫—Ä–∞–Ω id —Ç—Ä–µ–Ω–µ—Ä–∞, —É –∫–æ—Ç–æ—Ä–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ —Ä–∞–≤–Ω–æ –∑–Ω–∞—á–µ–Ω–∏—é `max_trainings`. –¢—ã —É–∂–µ –∑–Ω–∞–µ—à—å –º–µ—Ç–æ–¥, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ —Å—Ç—Ä–æ–∫–µ –ø–æ –∏–Ω–¥–µ–∫—Å—É, –µ—Å–ª–∏ —Å–æ–º–Ω–µ–≤–∞–µ—à—å—Å—è ‚Äì —Å–º–æ—Ç—Ä–∏ —à–ø–∞—Ä–≥–∞–ª–∫—É.

In [8]:
# –ù–µ –∑–∞–±—É–¥—å –ø–∏—Å–∞—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –∫–æ–¥—É, —á—Ç–æ–±—ã –Ω–∞—Å—Ç–∞–≤–Ω–∏–∫–∞–º –±—ã–ª–æ —É–¥–æ–±–Ω–æ –æ—Ç—Å–ª–µ–∂–∏–≤–∞—Ç—å —Ç–≤–æ—é –ª–æ–≥–∏–∫—É

non_sales_trainers = # –∏—Å–∫–ª—é—á–∏ –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Ç—Ä–µ–Ω–µ—Ä–æ–≤ –∏–∑ –¥–µ–ø–∞—Ä—Ç–∞–º–µ–Ω—Ç–∞ Sales

SyntaxError: invalid syntax (Temp/ipykernel_21656/2178814086.py, line 3)

In [ ]:
workouts.head()

In [ ]:
workouts.info()

In [9]:
workouts=workouts.loc[workouts['trainer_department']!='Sales'] #—É–±–∏—Ä–∞–µ–º —Ç—Ä–µ–Ω–µ—Ä–æ–≤ –¥–µ–ø–∞—Ä—Ç–∞–º–µ—Ç–∞ Sales

In [34]:
unique_workouts=workouts['workout_id'].groupby(workouts['trainer_id']).nunique() #–æ–ø—Ä–µ–¥–µ–ª—è–µ–º –∫–æ–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ç—Ä–µ–Ω–µ—Ä–æ–≤–æ–∫ –ø–æ —Ç—Ä–µ–Ω–µ—Ä–∞–º
unique_workouts=unique_workouts.reset_index() #–ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º


max_trainings=unique_workouts['workout_id'].max() #–Ω–∞—Ö–æ–¥–∏–º –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ —á–∏—Å–ª–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ç—Ä–µ–Ω–µ—Ä–æ–≤–æ–∫

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3952 entries, 0 to 3951
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   trainer_id  3952 non-null   int64
 1   workout_id  3952 non-null   int64
dtypes: int64(2)
memory usage: 61.9 KB

311

In [37]:
trainer_max_workouts=unique_workouts.loc[unique_workouts['workout_id']==max_trainings] #–≤—ã–≤–æ–¥–∏–º —Å—Ç—Ä–æ—á–∫—É —Å –º–∞–∫—Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫
trainer_max_workouts

      trainer_id  workout_id
2634     7010157         311

## –ó–∞–¥–∞–Ω–∏–µ 3

–ü–æ—Å—á–∏—Ç–∞–π, __—Å–∫–æ–ª—å–∫–æ –¥–µ–Ω–µ–≥ –∏ –∑–∞ –∫–∞–∫–∏–µ —Ç–∏–ø—ã —Ç—Ä–µ–Ω–∏—Ä–æ–≤–æ–∫ –ø—Ä–∏–Ω–µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞—á–∞–ª–∏ –∑–∞–Ω–∏–º–∞—Ç—å—Å—è –≤ –Ω–æ—è–±—Ä–µ__.  

### –ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å?

1. –ò–∑—É—á–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `users` –∏ –ø–µ—Ä–µ–≤–µ–¥–∏ –¥–∞—Ç—ã –≤ —Ñ–æ—Ä–º–∞—Ç `datetime`.
2. –û—Ç–±–µ—Ä–∏ —Ç–æ–ª—å–∫–æ —Ç–µ—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫—Ç–æ –Ω–∞—á–∞–ª –∑–∞–Ω–∏–º–∞—Ç—å—Å—è —Å 1 –ø–æ 30 –Ω–æ—è–±—Ä—è 2020 –≥–æ–¥–∞, –∫–æ–¥ —É–∂–µ –≥–æ—Ç–æ–≤, –æ–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, –∫–∞–∫ –º–æ–∂–Ω–æ –ø–µ—Ä–µ–¥–∞—Ç—å —Å—Ä–∞–∑—É 2 —É—Å–ª–æ–≤–∏—è –≤ `loc[]`
3. –û–±—ä–µ–¥–∏–Ω–∏ –ø–æ–ª—É—á–∏–≤—à–∏–π—Å—è –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Å –ø–ª–∞—Ç–µ–∂–∞–º–∏ –∏–∑ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `payments` –ø–æ `user_id`.

4. –°–≥—Ä—É–ø–ø–∏—Ä—É–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ `workout_type` –∏ –Ω–∞–π–¥–∏ —Å—É–º–º—É –ø–æ `amount_rub`.

In [38]:
users.head()

,first_contact_datetime,age,free_workout_datetime,first_payment_datetime,workouts_successful,workouts_total,months_active,user_id,region,geo_group
0,2020-08-08 13:57:25,NaN,2020-08-08 19:00:00,2020-08-08 21:18:34,10,13,2,2790000,NaN,–°–ù–ì
1,2020-05-02 00:30:02,NaN,2020-05-05 18:20:00,2020-05-05 18:40:29,26,38,7,780106,NaN,–°–ù–ì
2,2019-06-27 13:10:33,30.00,NaN,2020-03-18 16:06:43,27,33,6,1133376,NaN,–°–ù–ì
3,2020-04-22 15:37:58,22.00,2020-04-27 09:00:00,2020-04-27 09:41:37,59,59,8,1996499,NaN,–°–ù–ì
4,2016-06-23 16:21:40,24.00,2020-04-13 19:00:00,2020-04-13 19:16:51,8,12,2,57899,–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,–ú–æ—Å–∫–≤–∞

In [46]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4273 entries, 0 to 4272
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   first_contact_datetime  4273 non-null   datetime64[ns]
 1   age                     2281 non-null   float64
 2   free_workout_datetime   2886 non-null   datetime64[ns]
 3   first_payment_datetime  4273 non-null   datetime64[ns]
 4   workouts_successful     4273 non-null   int64
 5   workouts_total          4273 non-null   int64
 6   months_active           4273 non-null   int64
 7   user_id                 4273 non-null   int64
 8   region                  3672 non-null   object
 9   geo_group               4273 non-null   object
dtypes: datetime64[ns](3), float64(1), int64(4), object(2)
memory usage: 334.0+ KB

In [47]:
users['free_workout_datetime'] = pd.to_datetime(users['free_workout_datetime'])  # –ø–µ—Ä–µ–≤–µ–¥–∏ –¥–∞—Ç—ã –≤ —Ñ–æ—Ä–º–∞—Ç datetime
users['first_contact_datetime'] = pd.to_datetime(users['first_contact_datetime'])

november_users = users.loc[(users['free_workout_datetime']>=datetime(2020,11,1))   # –æ—Ç–æ–±—Ä–∞–ª–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫—Ç–æ –Ω–∞—á–∞–ª –∑–∞–Ω–∏–º–∞—Ç—å—Å—è —Å 1 –Ω–æ—è–±—Ä—è
                         &(users['free_workout_datetime']<datetime(2020,12,1))]  # –ø–æ 30 –Ω–æ—è–±—Ä—è 2020 –≥–æ–¥–∞

# –ù–µ –∑–∞–±—É–¥—å –ø–∏—Å–∞—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –∫–æ–¥—É, —á—Ç–æ–±—ã –Ω–∞—Å—Ç–∞–≤–Ω–∏–∫–∞–º –±—ã–ª–æ —É–¥–æ–±–Ω–æ –æ—Ç—Å–ª–µ–∂–∏–≤–∞—Ç—å —Ç–≤–æ—é –ª–æ–≥–∏–∫—É

In [56]:
november_users_payments=pd.merge(payments, november_users) #–æ–±—ä–µ–¥–∏–Ω–∏–ª–∏ –¥–∞–Ω–Ω—ã–µ –∏–∑ workouts –∏ payments –¥–ª—è –Ω–æ—è–±—Ä—å—Å–∫–∏—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤

november_users_payments

,user_id,payment_id,workout_type,amount,payment_date,currency,fx_rate,amount_rub,first_contact_datetime,age,free_workout_datetime,first_payment_datetime,workouts_successful,workouts_total,months_active,region,geo_group
0,2112241.00,2713765.00,general,8951.47,2020-12-01,RUR,73.14,654710.84,2019-07-24 21:02:12,NaN,2020-11-01 11:00:00,2020-11-01 11:40:00,6,7,2,–†–µ—Å–ø—É–±–ª–∏–∫–∞ –¢–∞—Ç–∞—Ä—Å—Ç–∞–Ω,–†–µ–≥–∏–æ–Ω—ã –†–§
1,98522.00,2738248.00,general,8258.33,2020-03-10,RUR,73.14,604014.06,2020-10-30 19:49:43,21.00,2020-11-01 10:45:00,2020-11-01 11:47:02,1,6,1,–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,–ú–æ—Å–∫–≤–∞
2,1896850.00,2738767.00,general,10995.57,2020-01-20,RUR,73.14,804216.33,2018-06-17 13:27:03,25.00,2020-11-01 10:20:00,2020-11-01 13:09:28,14,14,2,–°–∞–º–∞—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,–†–µ–≥–∏–æ–Ω—ã –†–§
3,2276353.00,2739322.00,general,10009.90,2020-09-15,RUR,73.14,732124.29,2018-08-21 10:54:31,NaN,2020-11-01 15:15:00,2020-11-01 15:36:54,11,11,2,–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,–ú–æ—Å–∫–≤–∞
4,520341.00,2739901.00,general,8484.00,2020-08-11,USD,73.14,620519.71,2017-08-26 12:06:33,27.00,2020-11-02 19:40:00,2020-11-02 20:20:00,7,7,2,–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,–ú–æ—Å–∫–≤–∞
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,3009641.00,2888938.00,general,9909.90,2020-05-06,RUR,73.14,724810.29,2018-11-13 22:01:50,NaN,2020-11-04 09:45:00,2020-11-04 10:25:00,8,9,2,–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,–ú–æ—Å–∫–≤–∞
254,3061943.00,2891699.00,general,8951.47,2020-08-14,USD,73.14,654710.84,2018-11-19 20:15:08,27.00,2020-11-30 18:45:00,2020-12-02 16:51:15,2,2,1,NaN,–°–ù–ì
255,3837252.00,2895559.00,general,9216.76,2020-07-20,RUR,73.14,674113.51,2019-02-24 00:34:32,NaN,2020-11-28 15:15:00,2020-12-03 13:59:48,2,2,1,–ß—É–≤–∞—à—Å–∫–∞—è –†–µ—Å–ø—É–±–ª–∏–∫–∞,–†–µ–≥–∏–æ–Ω—ã –†–§
256,2932293.00,2899260.00,general,8748.69,2020-09-22,RUR,73.14,639879.32,2018-11-02 10:32:46,NaN,2020-11-11 10:15:00,2020-12-04 10:17:12,2,2,1,–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,–ú–æ—Å–∫–≤–∞
257,790633.00,2911062.00,general,8358.33,2020-08-18,RUR,73.14,611328.06,2019-12-25 16:41:11,NaN,2020-11-30 19:45:00,2020-12-06 20:46:35,2,2,1,–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å,–ú–æ—Å–∫–≤–∞

In [57]:
november_users_payments['amount_rub'].groupby(november_users_payments['workout_type']).sum()

workout_type
cycling     5681243.38
general   171854942.18
Name: amount_rub, dtype: float64

## –ó–∞–¥–∞–Ω–∏–µ 4

–í—ã—è—Å–Ω–∏, **–∫–∞–∫–∏–µ —Ä–µ–≥–∏–æ–Ω—ã –ø—Ä–∏–Ω–æ—Å—è—Ç –Ω–∞—à–µ–π —Å–µ—Ç–∏ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∏ –º–µ–Ω—å—à–µ –≤—Å–µ–≥–æ –≤—ã—Ä—É—á–∫–∏**. 

### –ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å

1. –°–æ–∑–¥–∞–π –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `user_regions` –∏–∑ –∫–æ–ª–æ–Ω–æ–∫ `user_id` –∏ `region` –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `users`.

2. –°–æ–∑–¥–∞–π –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `user_payments` –∏–∑ –∫–æ–ª–æ–Ω–æ–∫ `user_id` –∏ `amount_rub` –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `payments`.
3. C –ø–æ–º–æ—â—å—é `.merge()` –æ–±—ä–µ–¥–∏–Ω–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ã `user_regions` –∏ `user_payments`
4. –û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —É –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –Ω–µ –∑–∞–ø–æ–ª–Ω–µ–Ω —Ä–µ–≥–∏–æ–Ω. `dropna()` ‚Äî —Ö–æ—Ä–æ—à–∏–π –º–µ—Ç–æ–¥ –¥–ª—è –æ—á–∏—Å—Ç–∫–∏ –¥–∞—Ç–∞—Å–µ—Ç–∞ –æ—Ç —Å—Ç—Ä–æ–∫, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ —Ö–≤–∞—Ç–∞–µ—Ç –∫–∞–∫–∏—Ö-—Ç–æ –∑–Ω–∞—á–µ–Ω–∏–π.
5. –°–≥—Ä—É–ø–ø–∏—Ä—É–π –¥–∞–Ω–Ω—ã–µ –æ –≤—ã—Ä—É—á–∫–µ –ø–æ —Ä–µ–≥–∏–æ–Ω—É, –∞ –∑–∞—Ç–µ–º –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –∏—Ö.
6. –í—ã–≤–µ–¥–∏ –Ω–∞ —ç–∫—Ä–∞–Ω —Ç–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –º–∞–ª–µ–Ω—å–∫–æ–π –≤—ã—Ä—É—á–∫–æ–π. 
7. –í—ã–≤–µ–¥–∏ –Ω–∞ —ç–∫—Ä–∞–Ω —Ç–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –±–æ–ª—å—à–æ–π –≤—ã—Ä—É—á–∫–æ–π. 
8. –°–æ—Ö—Ä–∞–Ω–∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –ø–æ —É–±—ã–≤–∞–Ω–∏—é —Å–ø–∏—Å–æ–∫ —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å –≤—ã—Ä—É—á–∫–æ–π –≤ —Ñ–∞–π–ª `task_4.xlsx` —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `to_excel()`.

ü§î *–ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏, –æ—Å–Ω–æ–≤—ã–≤–∞—è—Å—å –Ω–∞ –ø—Ä–æ–¥–µ–ª–∞–Ω–Ω–æ–º –∞–Ω–∞–ª–∏–∑–µ.* –ö–∞–∫ —Å–µ–π—á–∞—Å —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—è–µ—Ç—Å—è –≤—ã—Ä—É—á–∫–∞ –º–µ–∂–¥—É —Ä–µ–≥–∏–æ–Ω–∞–º–∏? –£ —ç—Ç–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è –Ω–µ—Ç –ø—Ä–∞–≤–∏–ª—å–Ω–æ–≥–æ –æ—Ç–≤–µ—Ç–∞, –º—ã –ª–∏—à—å –ø—Ä–µ–¥–ª–∞–≥–∞–µ–º —Ç–µ–±–µ –ø–æ—Ä–∞–∑–º—ã—à–ª—è—Ç—å.

In [73]:
# –ù–µ –∑–∞–±—É–¥—å –ø–∏—Å–∞—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫ –∫–æ–¥—É, —á—Ç–æ–±—ã –Ω–∞—Å—Ç–∞–≤–Ω–∏–∫–∞–º –±—ã–ª–æ —É–¥–æ–±–Ω–æ –æ—Ç—Å–ª–µ–∂–∏–≤–∞—Ç—å —Ç–≤–æ—é –ª–æ–≥–∏–∫—É
user_regions=users[['user_id', 'region']]  #—Ä–µ–≥–∏–æ–Ω, –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å
user_payments=payments[['user_id', 'amount_rub']]  #–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å, –æ–ø–ª–∞—Ç–∞
region_payments=pd.merge(user_regions, user_payments) #–æ–±—ä–µ–¥–∏–Ω–∏–ª–∏ 2 —Ç–∞–±–ª–∏—Ü—ã
region_payments=region_payments.dropna()  #—É–±—Ä–∞–ª–∏ —Å—Ç—Ä–æ—á–∫–∏ —Å –Ω–µ–∑–∞–ø–æ–ª–Ω–µ–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏
sum_region_payments=region_payments['amount_rub'].groupby(region_payments['region']).sum().sort_values(ascending=False) #–ø—Ä–æ—Å—É–º–º–∏—Ä–æ–≤–ª–∏ –≤—ã—Ä—É—á–∫—É –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º –∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏ –≤ –ø–æ—Ä—è–¥–∫–µ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—è
 
print(f'–¢–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –º–∞–ª–µ–Ω—å–∫–æ–π –≤—ã—Ä—É—á–∫–æ–π: {sum_region_payments.tail()}')
print(f'–¢–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –±–æ–ª—å—à–æ–π –≤—ã—Ä—É—á–∫–æ–π: {sum_region_payments.head()}')

–¢–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –º–∞–ª–µ–Ω—å–∫–æ–π –≤—ã—Ä—É—á–∫–æ–π: region
–ê–º—É—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å       1344216.60
–ö—É—Ä–≥–∞–Ω—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     1338248.47
–ö–∞–º—á–∞—Ç—Å–∫–∏–π –∫—Ä–∞–π         710330.22
–ö–∏—Ä–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å       674113.51
–ù–æ–≤–≥–æ—Ä–æ–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å     46383.78
Name: amount_rub, dtype: float64
–¢–æ–ø-5 —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å —Å–∞–º–æ–π –±–æ–ª—å—à–æ–π –≤—ã—Ä—É—á–∫–æ–π: region
–ú–æ—Å–∫–≤–∞ –∏ –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å               1959606847.29
–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥ –∏ –õ–µ–Ω–∏–Ω–≥—Ä–∞–¥—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å    359281585.18
–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å                       76074659.53
–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä—Å–∫–∏–π –∫—Ä–∞–π                          60936830.57
–°–≤–µ—Ä–¥–ª–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å                        51440273.43
Name: amount_rub, dtype: float64

In [74]:
sum_region_payments.to_excel('task_4.xlsx')

# üéâüéâüéâ –ü–æ–∑–¥—Ä–∞–≤–ª—è–µ–º, —Ç—ã –≤–µ–ª–∏–∫–æ–ª–µ–ø–µ–Ω!