# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ

# üéàüçæ üéâ





–í—ã —Ä–∞–±–æ—Ç–∞–µ—Ç–µ –≤ –∫—Ä—É–ø–Ω–æ–º –æ–Ω–ª–∞–π–Ω-–º–∞–≥–∞–∑–∏–Ω–µ, –∫–æ—Ç–æ—Ä—ã–π —Ä–µ–∞–ª–∏–∑—É–µ—Ç —Ç–æ–≤–∞—Ä—ã ¬´–≤—Å—ë –¥–ª—è –ø—Ä–∞–∑–¥–Ω–∏–∫–æ–≤¬ª. –í–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø—Ä–æ–≤–µ—Å—Ç–∏ ABC-–∞–Ω–∞–ª–∏–∑ –∏ –≤—ã—è–≤–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ç–æ–≤–∞—Ä—ã –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏. –≠—Ç–∞ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è —Å–æ—Å—Ç–∞–≤–∏—Ç –ø–ª–∞–Ω –∑–∞–∫—É–ø–æ–∫ –Ω–∞ –≤–µ—Å—å —Å–ª–µ–¥—É—é—â–∏–π –≥–æ–¥.

**ABC-–∞–Ω–∞–ª–∏–∑** –ø–æ–∑–≤–æ–ª—è–µ—Ç –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–∞–∂–Ω—ã–µ —Ä–µ—Å—É—Ä—Å—ã –∫–æ–º–ø–∞–Ω–∏–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –æ–±—ä–µ–º–æ–≤ –ø—Ä–æ–¥–∞–∂ –∏ –ø—Ä–∏–±—ã–ª–∏.

–í –æ—Å–Ω–æ–≤–µ ABC-–∞–Ω–∞–ª–∏–∑–∞ –ª–µ–∂–∏—Ç __¬´–ü—Ä–∏–Ω—Ü–∏–ø –ü–∞—Ä–µ—Ç–æ¬ª: 20% —Ä–µ—Å—É—Ä—Å–æ–≤ –ø—Ä–∏–Ω–æ—Å—è—Ç 80% –ø—Ä–∏–±—ã–ª–∏__. –ò–º–µ–Ω–Ω–æ —ç—Ç–æ—Ç –≤–∏–¥ –∞–Ω–∞–ª–∏–∑–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–¥–µ–ª–∏—Ç—å —Ç–µ —Å–∞–º—ã–µ  –≥—Ä—É–ø–ø—ã —Ç–æ–≤–∞—Ä–æ–≤, —Ä–µ—Å—É—Ä—Å–æ–≤, –∫–ª–∏–µ–Ω—Ç–æ–≤, –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –∏ —Ç. –ø., –∫–æ—Ç–æ—Ä—ã–µ –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –∫–æ–º–ø–∞–Ω–∏–∏ –æ—Å–Ω–æ–≤–Ω—É—é –ø—Ä–∏–±—ã–ª—å.

__–ó–∞–¥–∞—á–∞ –∞–Ω–∞–ª–∏–∑–∞ —Ä–∞–∑–¥–µ–ª–∏—Ç—å —Ç–æ–≤–∞—Ä—ã –Ω–∞ –≥—Ä—É–ø–ø—ã –ø–æ –ø—Ä–∏–Ω—Ü–∏–ø—É:__

- –ê ‚Äî –Ω–∞–∏–±–æ–ª–µ–µ —Ü–µ–Ω–Ω—ã–µ, 20% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞ (–Ω–æ–º–µ–Ω–∫–ª–∞—Ç—É—Ä–∞); 80% ‚Äî –ø—Ä–æ–¥–∞–∂
- –í ‚Äî –ø—Ä–æ–º–µ–∂—É—Ç–æ—á–Ω—ã–µ, 30% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 15% ‚Äî –ø—Ä–æ–¥–∞–∂
- –° ‚Äî –Ω–∞–∏–º–µ–Ω–µ–µ —Ü–µ–Ω–Ω—ã–µ, 50% ‚Äî –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç–∞; 5% ‚Äî –ø—Ä–æ–¥–∞–∂

## –ó–∞–¥–∞–Ω–∏–µ 1

–°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products` –∏–∑ PostgreSQL –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products` –∏ –ø–æ–¥–≥–æ—Ç–æ–≤—å—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ –∞–Ω–∞–ª–∏–∑—É.

1. –ü–æ–¥–≥—Ä—É–∑–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
2. –ü–æ–¥–∫–ª—é—á–∏—Ç–µ –Ω—É–∂–Ω—É—é –±–∏–±–ª–∏–æ—Ç–µ–∫—É –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å PostgreSQL
3. –°–æ–∑–¥–∞–π—Ç–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –ë–î
4. –°–æ–∑–¥–∞–π—Ç–µ –∑–∞–ø—Ä–æ—Å –∏ –≤—ã–≥—Ä—É–∑–∏—Ç–µ –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã `products`
5. –ü–æ–ª–æ–∂–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –≤ –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º `products`
6. –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –∫ —É–¥–æ–±–Ω–æ–º—É —Ç–∏–ø—É: —á–∏—Å–ª–∞ –∫ —á–∏—Å–ª–æ–≤–æ–º—É —Ç–∏–ø—É, –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã ‚Äî –∫ —Ç–µ–∫—Å—Ç–æ–≤–æ–º—É

In [1]:
from postgresql_secret import pg_secret

In [2]:
pg_secret

{'db_host': '178.154.254.133',
 'db_name': 'skyeng',
 'db_password': 'readonlyuser',
 'db_port': '5432',
 'db_user': 'readonlyuser'}

In [3]:
import psycopg2
# —Å–æ–∑–¥–∞–π —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
connection = psycopg2.connect(
                            database = pg_secret['db_name'],
                            user = pg_secret['db_user'],
                            password = pg_secret['db_password'],
                            host = pg_secret['db_host'],
                            port = pg_secret['db_port']
                            )
# –∑–∞–≤–µ–¥–∏ –∫—É—Ä—Å–æ—Ä, —á—Ç–æ–±—ã –¥–µ–ª–∞—Ç—å –∑–∞–ø—Ä–æ—Å—ã –≤ –±–∞–∑—É
cursor = connection.cursor()

In [4]:
import pandas as pd
# –Ω–∞–ø–∏—à–∏ –∑–∞–ø—Ä–æ—Å, —Ç–≤–æ–∏—Ö –∑–Ω–∞–Ω–∏–π SQL —Ç–æ—á–Ω–æ —Ö–≤–∞—Ç–∏—Ç
query = 'SELECT * FROM products'
cursor.execute(query)
result = cursor.fetchall()

columns = []
for desc in cursor.description:
    columns.append(desc[0])

products = pd.DataFrame(result,columns=columns)

products.head()

   invoice_id stock_code                   description  quantity price
0      568954      22041  RECORD FRAME 7" SINGLE SIZE         48  2.10
1      568954      21137      BLACK RECORD COVER FRAME        72  3.39
2      568954      82581             TOILET METAL SIGN        12  0.55
3      568954      21756      BATH BUILDING BLOCK WORD         3  6.25
4      568954      21754      HOME BUILDING BLOCK WORD         3  6.25

In [5]:
products['invoice_id'] = products['invoice_id'].apply(str)
products['price'] = products['price'].astype('float64')
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779495 entries, 0 to 779494
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoice_id   779495 non-null  object
 1   stock_code   779495 non-null  object
 2   description  779495 non-null  object
 3   quantity     779495 non-null  int64
 4   price        779495 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 29.7+ MB

## –ó–∞–¥–∞–Ω–∏–µ 2

__–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, –∫–∞–∫–æ–π –¥–æ—Ö–æ–¥ –ø—Ä–∏–Ω–µ—Å –∫–∞–∂–¥—ã–π –ø—Ä–æ–¥—É–∫—Ç –∏ —Å–∫–æ–ª—å–∫–æ –µ–¥–∏–Ω–∏—Ü –∫–∞–∂–¥–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞ –±—ã–ª–æ –ø—Ä–æ–¥–∞–Ω–æ__

1. –ü–æ—Å—á–∏—Ç–∞–π –æ–±—â—É—é —Å—É–º–º—É –æ–ø–ª–∞—Ç –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏ —Å—á–µ—Ç–∞
2. –ü–æ–ª—É—á–∏ –æ–±—â–∏–π –¥–æ—Ö–æ–¥ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –µ–¥–∏–Ω–∏—Ü –ø–æ —Ç–æ–≤–∞—Ä–∞–º
3. –û–±—ä–µ–¥–∏–Ω–∏ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–∏–Ω –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏: `description`, `stock_code`, `quantity`, `total`

In [6]:
import pandas as pd
products.head()

  invoice_id stock_code                   description  quantity  price
0     568954      22041  RECORD FRAME 7" SINGLE SIZE         48   2.10
1     568954      21137      BLACK RECORD COVER FRAME        72   3.39
2     568954      82581             TOILET METAL SIGN        12   0.55
3     568954      21756      BATH BUILDING BLOCK WORD         3   6.25
4     568954      21754      HOME BUILDING BLOCK WORD         3   6.25

In [7]:
products['total'] = products['quantity']*products['price'] #–¥–æ–±–∞–≤–ª—è–µ–º –∫–æ–ª–æ–Ω–∫—É —Å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –æ –≤—ã—Ä—É—á–∫–µ

In [8]:
revenue_by_product = products.groupby('stock_code')['total'].sum().reset_index() # –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–∏—Ö –¥–æ—Ö–æ–¥ –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É

In [9]:
sold_by_product = products.groupby('stock_code')['quantity'].sum().reset_index() # –ø–æ—Å—á–∏—Ç–∞–π –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–¥–∞–Ω–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –ø–æ –∫–∞–∂–¥–æ–º—É —Ç–æ–≤–∞—Ä—É

In [10]:
revenue_by_product.info()
# –æ–±—ä–µ–¥–∏–Ω–∏ –æ–±—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—É

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4631 entries, 0 to 4630
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stock_code  4631 non-null   object
 1   total       4631 non-null   float64
dtypes: float64(1), object(1)
memory usage: 72.5+ KB

In [63]:
sold_by_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4631 entries, 0 to 4630
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   stock_code  4631 non-null   object
 1   quantity    4631 non-null   int64
dtypes: int64(1), object(1)
memory usage: 72.5+ KB

In [64]:
products1=products.copy()

info_sold_products=pd.merge(sold_by_product,revenue_by_product) # –æ–±—ä–µ–¥–∏–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—É –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∏ –≤—ã—Ä—É—á–∫–µ

info_sold_products

     stock_code  quantity      total
0         10002      8479    6638.27
1         10080       303     124.61
2         10109         4       1.68
3         10120       648     136.08
4        10123C       628     226.76
...         ...       ...        ...
4626       PADS        18       0.00
4627       POST      5235  124648.04
4628     SP1002         5      14.75
4629    TEST001        60     225.00
4630    TEST002         1       1.00

[4631 rows x 3 columns]

In [65]:
products1=products1[['stock_code','description']]

products1=products1.groupby(products1['stock_code']).sum().reset_index() # –æ—Å—Ç–∞–≤–ª—è–µ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–∞–ø–∏—Å–∏


#descriptions=products1.to_dict()
#descriptions.set_index('stock_code',inplace=True)

In [66]:
products1

     stock_code                                        description
0         10002  INFLATABLE POLITICAL GLOBE INFLATABLE POLITICA...
1         10080  GROOVY CACTUS INFLATABLEGROOVY CACTUS INFLATAB...
2         10109                               BENDY COLOUR PENCILS
3         10120  DOGGY RUBBERDOGGY RUBBERDOGGY RUBBERDOGGY RUBB...
4        10123C  HEARTS WRAPPING TAPE HEARTS WRAPPING TAPE HEAR...
...         ...                                                ...
4626       PADS  PADS TO MATCH ALL CUSHIONSPADS TO MATCH ALL CU...
4627       POST  POSTAGEPOSTAGEPOSTAGEPOSTAGEPOSTAGEPOSTAGEPOST...
4628     SP1002       KID'S CHALKBOARD/EASELKID'S CHALKBOARD/EASEL
4629    TEST001  This is a test product.This is a test product....
4630    TEST002                            This is a test product.

[4631 rows x 2 columns]

In [67]:
info_sold_products=pd.merge(info_sold_products,products1) #–¥–æ–±–∞–≤–ª—è–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –ø–æ –æ–ø–∏—Å–∞–Ω–∏—é

info_sold_products

,stock_code,quantity,total,description
0,10002,8479,6638.27,INFLATABLE POLITICAL GLOBE INFLATABLE POLITICA...
1,10080,303,124.61,GROOVY CACTUS INFLATABLEGROOVY CACTUS INFLATAB...
2,10109,4,1.68,BENDY COLOUR PENCILS
3,10120,648,136.08,DOGGY RUBBERDOGGY RUBBERDOGGY RUBBERDOGGY RUBB...
4,10123C,628,226.76,HEARTS WRAPPING TAPE HEARTS WRAPPING TAPE HEAR...
...,...,...,...,...
4626,PADS,18,0.00,PADS TO MATCH ALL CUSHIONSPADS TO MATCH ALL CU...
4627,POST,5235,124648.04,POSTAGEPOSTAGEPOSTAGEPOSTAGEPOSTAGEPOSTAGEPOST...
4628,SP1002,5,14.75,KID'S CHALKBOARD/EASELKID'S CHALKBOARD/EASEL
4629,TEST001,60,225.00,This is a test product.This is a test product....
4630,TEST002,1,1.00,This is a test product.

## –ó–∞–¥–∞–Ω–∏–µ 3

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –ø–æ –¥–æ—Ö–æ–¥—É –≤ –Ω–∏—Å—Ö–æ–¥—è—â–µ–º –ø–æ—Ä—è–¥–∫–µ 
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –¥–æ—Ö–æ–¥–µ 
3. –°–¥–µ–ª–∞–π –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ (running total) –ø–æ –ø—Ä–æ—Ü–µ–Ω—Ç–∞–º –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞, –¥–ª—è —ç—Ç–æ–≥–æ –Ω–∞–π–¥–∏ –≤ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–µ –∏ –ø—Ä–∏–º–µ–Ω–∏ –º–µ—Ç–æ–¥ –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã –≤ `pandas`. 


–ù–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ ‚Äî —ç—Ç–æ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö, –≤ –∫–æ—Ç–æ—Ä–æ–º –º—ã –≤–∏–¥–∏–º –¥–∏–Ω–∞–º–∏–∫—É –Ω–∞—Ä–∞—Å—Ç–∞–Ω–∏—è –∏–ª–∏ —É–±—ã–≤–∞–Ω–∏—è —Å—É–º–º—ã –æ—Ç –Ω–∞—á–∞–ª–∞ –æ—Ç—Å—á–µ—Ç–∞ –¥–æ –∫–æ–Ω—Ü–∞. –ü–æ–ª—É—á–∞–µ–º –º—ã —ç—Ç—É –∫—É–º—É–ª—è—Ç–∏–≤–Ω—É—é —Å—É–º–º—É, –ø—Ä–∏–±–∞–≤–ª–µ–Ω–∏–µ–º –ø–æ–æ—á–µ—Ä–µ–¥–Ω–æ –∫–∞–∂–¥–æ–≥–æ —Å–ª–µ–¥—É—é—â–µ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –∫ —Å—É–º–º–µ –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö.

In [69]:
# –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º (–±–æ–ª—å—à–∏–µ –≤–≤–µ—Ä—Ö—É, –º–∞–ª–µ–Ω—å–∫–∏–µ –≤–Ω–∏–∑—É)
info_sold_products.sort_values('total',ascending=False,inplace=True)

In [73]:
# –Ω–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ—Ö–æ–¥–∞ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ 

info_sold_products['share']=info_sold_products['total']/sum(info_sold_products['total'])*100
#(–∏—Å–∫–æ–º–∞—è —á–∞—Å—Ç—å / —Ü–µ–ª–æ–µ —á–∏—Å–ª–æ) * 100

In [74]:
info_sold_products

,stock_code,quantity,total,description,share
1609,22423,24139,277656.25,REGENCY CAKESTAND 3 TIERREGENCY CAKESTAND 3 TI...,1.598040
4080,85123A,91814,247203.36,WHITE HANGING HEART T-LIGHT HOLDERWHITE HANGIN...,1.422769
2726,23843,80995,168469.60,"PAPER CRAFT , LITTLE BIRDIE",0.969620
4058,85099B,93436,167920.64,JUMBO BAG RED RETROSPOTJUMBO BAG RED RETROSPOT...,0.966461
4625,M,9391,151777.67,ManualManualManualManualManualManualManualManu...,0.873550
...,...,...,...,...,...
4630,TEST002,1,1.00,This is a test product.,0.000006
247,20721,1,0.85,OWLS CHARLOTTE BAG,0.000005
3419,84205C,2,0.38,HAPPY BIRTHDAY GINGER CAT CARD,0.000002
2847,35930,1,0.38,PINK HEART CHRISTMAS DECORATION,0.000002
4626,PADS,18,0.00,PADS TO MATCH ALL CUSHIONSPADS TO MATCH ALL CU...,0.000000

In [83]:
# –∏—Å–ø–æ–ª—å–∑—É–π –º–µ—Ç–æ–¥ pandas –¥–ª—è –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã
info_sold_products['running_total'] = info_sold_products['share'].cumsum()

In [84]:
info_sold_products

,stock_code,quantity,total,description,share,running_total
1609,22423,24139,277656.25,REGENCY CAKESTAND 3 TIERREGENCY CAKESTAND 3 TI...,1.598040,1.598040
4080,85123A,91814,247203.36,WHITE HANGING HEART T-LIGHT HOLDERWHITE HANGIN...,1.422769,3.020809
2726,23843,80995,168469.60,"PAPER CRAFT , LITTLE BIRDIE",0.969620,3.990429
4058,85099B,93436,167920.64,JUMBO BAG RED RETROSPOTJUMBO BAG RED RETROSPOT...,0.966461,4.956890
4625,M,9391,151777.67,ManualManualManualManualManualManualManualManu...,0.873550,5.830440
...,...,...,...,...,...,...
4630,TEST002,1,1.00,This is a test product.,0.000006,99.999991
247,20721,1,0.85,OWLS CHARLOTTE BAG,0.000005,99.999996
3419,84205C,2,0.38,HAPPY BIRTHDAY GINGER CAT CARD,0.000002,99.999998
2847,35930,1,0.38,PINK HEART CHRISTMAS DECORATION,0.000002,100.000000
4626,PADS,18,0.00,PADS TO MATCH ALL CUSHIONSPADS TO MATCH ALL CU...,0.000000,100.000000

## –ó–∞–¥–∞–Ω–∏–µ 4

__–ü–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'` –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –Ω–∞—Ä–∞—Å—Ç–∞—é—â–µ–≥–æ –∏—Ç–æ–≥–∞__

1. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø–æ–º–µ—á–∞—Ç—å —Ç–æ–≤–∞—Ä—ã —Å –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–º –∏—Ç–æ–≥–æ–º –Ω–∏–∂–µ –∏–ª–∏ —Ä–∞–≤–Ω–æ 80% –∫–∞–∫ –≥—Ä—É–ø–ø—É `'A'`, –æ—Ç 80%-95% ‚Äî –∫–∞–∫ `'B'` –∏ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∫–∞–∫ `'C'`

In [85]:
def revenue(x):   # –¥–æ–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é
    if x<=80:
        return 'A' 
    elif x<=95:
        return 'B'
    else:
        return 'C'  

# —Å–æ–∑–¥–∞–π –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü revenue —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏
info_sold_products['revenue'] = info_sold_products['running_total'].apply(revenue)

In [86]:
info_sold_products

,stock_code,quantity,total,description,share,running_total,revenue
1609,22423,24139,277656.25,REGENCY CAKESTAND 3 TIERREGENCY CAKESTAND 3 TI...,1.598040,1.598040,A
4080,85123A,91814,247203.36,WHITE HANGING HEART T-LIGHT HOLDERWHITE HANGIN...,1.422769,3.020809,A
2726,23843,80995,168469.60,"PAPER CRAFT , LITTLE BIRDIE",0.969620,3.990429,A
4058,85099B,93436,167920.64,JUMBO BAG RED RETROSPOTJUMBO BAG RED RETROSPOT...,0.966461,4.956890,A
4625,M,9391,151777.67,ManualManualManualManualManualManualManualManu...,0.873550,5.830440,A
...,...,...,...,...,...,...,...
4630,TEST002,1,1.00,This is a test product.,0.000006,99.999991,C
247,20721,1,0.85,OWLS CHARLOTTE BAG,0.000005,99.999996,C
3419,84205C,2,0.38,HAPPY BIRTHDAY GINGER CAT CARD,0.000002,99.999998,C
2847,35930,1,0.38,PINK HEART CHRISTMAS DECORATION,0.000002,100.000000,C
4626,PADS,18,0.00,PADS TO MATCH ALL CUSHIONSPADS TO MATCH ALL CU...,0.000000,100.000000,C

## –ó–∞–¥–∞–Ω–∏–µ 5

__–ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–Ω—ã—Ö –µ–¥–∏–Ω–∏—Ü –∏ –ø–æ–º–µ—Ç—å —Ç–æ–≤–∞—Ä—ã –º–µ—Ç–∫–∞–º–∏ `'A'`, `'B'`, `'C'`, –æ—Ç–º–µ—á–∞—è —Ç–µ–º —Å–∞–º—ã–º –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å —Ç–æ–≤–∞—Ä–∞__

1. –û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π –ø—Ä–µ–¥—ã–¥—É—â–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –¥–∞–Ω–Ω—ã–º–∏ –æ –¥–æ—Ö–æ–¥–µ —Ç–µ–ø–µ—Ä—å –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ç–æ–≤–∞—Ä–æ–≤
2. –ù–∞–π–¥–∏ –ø—Ä–æ—Ü–µ–Ω—Ç –∫–∞–∂–¥–æ–≥–æ —Ç–æ–≤–∞—Ä–∞ –≤ –æ–±—â–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ
3. –ù–∞–π–¥–∏ –Ω–∞—Ä–∞—Å—Ç–∞—é—â–∏–π –∏—Ç–æ–≥ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É
4. –ù–∞–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é —Å —Ç–µ–º–∏ –∂–µ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏, —á—Ç–æ –∏ —É –¥–æ—Ö–æ–¥–∞
5. –û—Ç–º–µ—Ç—å –≥—Ä—É–ø–ø—É

In [87]:
# –ø—Ä–æ–≤–µ–¥–∏ —Ç–µ –∂–µ –æ–ø–µ—Ä–∞—Ü–∏–∏, —á—Ç–æ –≤ –¥–≤—É—Ö –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –∑–∞–¥–∞–Ω–∏—è—Ö, –¥–ª—è –æ—Ü–µ–Ω–∫–∏ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
info_sold_products.sort_values('quantity',ascending=False,inplace=True)

info_sold_products['share_quant']=info_sold_products['quantity']/sum(info_sold_products['quantity'])*100

In [88]:
info_sold_products['running_total_quant'] = info_sold_products['share_quant'].cumsum()

In [89]:
info_sold_products

,stock_code,quantity,total,description,share,running_total,revenue,share_quant,running_total_quant
3410,84077,105185,24098.03,WORLD WAR 2 GLIDERS ASSTD DESIGNSWORLD WAR 2 G...,0.138695,34.446876,A,0.999031,0.999031
4058,85099B,93436,167920.64,JUMBO BAG RED RETROSPOTJUMBO BAG RED RETROSPOT...,0.966461,4.956890,A,0.887441,1.886471
4080,85123A,91814,247203.36,WHITE HANGING HEART T-LIGHT HOLDERWHITE HANGIN...,1.422769,3.020809,A,0.872035,2.758506
601,21212,89850,43390.03,PACK OF 72 RETROSPOT CAKE CASESPACK OF 72 RETR...,0.249730,18.467322,A,0.853381,3.611888
2726,23843,80995,168469.60,"PAPER CRAFT , LITTLE BIRDIE",0.969620,3.990429,A,0.769278,4.381166
...,...,...,...,...,...,...,...,...,...
2907,37438,1,3.75,FUNKY FLOWER COFFEE POT,0.000022,99.999388,C,0.000009,99.999962
4279,90025B,1,3.75,BAROQUE BUTTERFLY EARRINGS RED,0.000022,99.999345,C,0.000009,99.999972
4241,90004A,1,3.75,JADE GREEN PAIR ENAMEL HAIR SLIDES,0.000022,99.999324,C,0.000009,99.999981
2874,35974,1,3.75,S/6 CHRISTMAS TREE PLACE SETTING,0.000022,99.999280,C,0.000009,99.999991
2936,37484,1,6.75,ENGLISH ROSE TEA FOR ONE GIFT BOX,0.000039,99.997688,C,0.000009,100.000000

In [92]:
def quantity(x): # –¥–æ–ø–∏—à–∏ —Ñ—É–Ω–∫—Ü–∏—é
    if x<=80:
        return 'A' 
    elif x<=95:
        return 'B'
    else:
        return 'C'  

# —Å–æ–∑–¥–∞–π –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü popularity —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏
info_sold_products['popularity'] = info_sold_products['running_total_quant'].apply(quantity)

In [93]:
info_sold_products.head()

,stock_code,quantity,total,description,share,running_total,revenue,share_quant,running_total_quant,popularity
3410,84077,105185,24098.03,WORLD WAR 2 GLIDERS ASSTD DESIGNSWORLD WAR 2 G...,0.138695,34.446876,A,0.999031,0.999031,A
4058,85099B,93436,167920.64,JUMBO BAG RED RETROSPOTJUMBO BAG RED RETROSPOT...,0.966461,4.956890,A,0.887441,1.886471,A
4080,85123A,91814,247203.36,WHITE HANGING HEART T-LIGHT HOLDERWHITE HANGIN...,1.422769,3.020809,A,0.872035,2.758506,A
601,21212,89850,43390.03,PACK OF 72 RETROSPOT CAKE CASESPACK OF 72 RETR...,0.249730,18.467322,A,0.853381,3.611888,A
2726,23843,80995,168469.60,"PAPER CRAFT , LITTLE BIRDIE",0.969620,3.990429,A,0.769278,4.381166,A

## –ó–∞–¥–∞–Ω–∏–µ 6

__–û–±—ä–µ–¥–∏–Ω–∏ –≥—Ä—É–ø–ø—ã –∏ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π__

1. –°–æ–∑–¥–∞–π —Å–µ—Ä–∏—é `group` —Å –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º –æ—Ç–º–µ—Ç–æ–∫ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ –∏ –¥–æ—Ö–æ–¥–Ω–æ—Å—Ç–∏ —Ç–æ–≤–∞—Ä–æ–≤
2. –ü–æ—Å—á–∏—Ç–∞–π –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –∫–∞–∂–¥–æ–π —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –ø–∞—Ä—ã
3. –ö–∞–∫–∏–µ –≥—Ä—É–ø–ø—ã –Ω–µ–ø–æ–ø—É–ª—è—Ä–Ω—ã –∏ –ø—Ä–∏–Ω–æ—Å—è—Ç –º–∞–ª–æ –¥–æ—Ö–æ–¥–∞?
4. –ù–∞ –∫–∞–∫–∏—Ö –≥—Ä—É–ø–ø–∞—Ö —Ç–æ–≤–∞—Ä–æ–≤ –Ω—É–∂–Ω–æ —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫?

In [94]:
# –Ω–∞–ø–∏—à–∏ –∑–¥–µ—Å—å –∫–æ–¥ –∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏
info_sold_products['group']=info_sold_products['revenue']+info_sold_products['popularity']
info_sold_products

,stock_code,quantity,total,description,share,running_total,revenue,share_quant,running_total_quant,popularity,group
3410,84077,105185,24098.03,WORLD WAR 2 GLIDERS ASSTD DESIGNSWORLD WAR 2 G...,0.138695,34.446876,A,0.999031,0.999031,A,AA
4058,85099B,93436,167920.64,JUMBO BAG RED RETROSPOTJUMBO BAG RED RETROSPOT...,0.966461,4.956890,A,0.887441,1.886471,A,AA
4080,85123A,91814,247203.36,WHITE HANGING HEART T-LIGHT HOLDERWHITE HANGIN...,1.422769,3.020809,A,0.872035,2.758506,A,AA
601,21212,89850,43390.03,PACK OF 72 RETROSPOT CAKE CASESPACK OF 72 RETR...,0.249730,18.467322,A,0.853381,3.611888,A,AA
2726,23843,80995,168469.60,"PAPER CRAFT , LITTLE BIRDIE",0.969620,3.990429,A,0.769278,4.381166,A,AA
...,...,...,...,...,...,...,...,...,...,...,...
2907,37438,1,3.75,FUNKY FLOWER COFFEE POT,0.000022,99.999388,C,0.000009,99.999962,C,CC
4279,90025B,1,3.75,BAROQUE BUTTERFLY EARRINGS RED,0.000022,99.999345,C,0.000009,99.999972,C,CC
4241,90004A,1,3.75,JADE GREEN PAIR ENAMEL HAIR SLIDES,0.000022,99.999324,C,0.000009,99.999981,C,CC
2874,35974,1,3.75,S/6 CHRISTMAS TREE PLACE SETTING,0.000022,99.999280,C,0.000009,99.999991,C,CC
2936,37484,1,6.75,ENGLISH ROSE TEA FOR ONE GIFT BOX,0.000039,99.997688,C,0.000009,100.000000,C,CC

In [95]:
info_sold_products['group'].value_counts() #—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –ø–∞—Ä

CC    2041
AA     685
BB     577
BC     377
CB     303
BA     270
AB     248
CA      72
AC      58
Name: group, dtype: int64

<div
  style="
    padding: 24px;
    background-color: #009ee4;
    border-radius: 24px;
    color: white;
    font-family: Arial;
  "
>
  <div style="font-size: 36px; margin-top: 6px; line-height: 16px; font-weight: bold">
    –í—ã–≤–æ–¥
  <div style=" font-size: 18px; margin-top: 24px; line-height: 24px">
–ù–∞–∏–º–µ–Ω–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω–∞ –∏ –ø—Ä–∏–Ω–æ—Å–∏—Ç –º–µ–Ω—å—à–µ –≤—Å–µ–≥–æ –¥–æ—Ö–æ–¥–∞ –≥—Ä—É–ø–ø–∞ CC, —Ç–∞–∫–∏—Ö —Ç–æ–≤–∞—Ä–æ–≤ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ. –ì—Ä—É–ø–ø–∞ –ê–° –Ω–µ –ø–æ–ø—É–ª—è—Ä–Ω–∞, –Ω–æ –ø—Ä–∏–Ω–æ—Å–∏—Ç –±–æ–ª—å—à–æ–π –¥–æ—Ö–æ–¥, –≤–æ–∑–º–æ–∂–Ω–æ —ç—Ç–æ –≤—ã—Å–æ–∫–æ—Å—Ç–æ—è—â–∏–µ —Ç–æ–≤–∞—Ä—ã, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø–æ–∫—É–ø–∞—é—Ç –≤ –±–æ–ª—å—à–∏—Ö –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞—Ö. –ì—Ä—É–ø–ø–∞ –ê–ê –Ω–∞–∏–±–æ–ª–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω–∞ –∏ –ø—Ä–∏–Ω–æ—Å–∏—Ç –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –¥–æ—Ö–æ–¥–∞, –¥—É–º–∞—é –Ω–∞ –Ω–µ–π –∏ —Å—Ç–æ–∏—Ç —Å—Ñ–æ–∫—É—Å–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø—Ä–∏ —Å–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ –ø–ª–∞–Ω–∞ –∑–∞–∫—É–ø–æ–∫

      

</div>

## –ó–∞–¥–∞–Ω–∏–µ 7

__–í—ã–≥—Ä—É–∑–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ —Ç–æ–≤–∞—Ä–∞–º —Å –º–µ—Ç–æ–∫–æ–π –ø–æ ABC-–∞–Ω–∞–ª–∏–∑—É__

1. –û–±—ä–µ–¥–∏–Ω–∏ –ø–æ `stock_code` –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ `ABC-–∫–æ–¥`, –æ–ø–∏—Å–∞–Ω–∏–µ —Ç–æ–≤–∞—Ä–∞ –∏ `ID `

2. –í—ã–≥—Ä—É–∑–∏ —Ç–∞–±–ª–∏—Ü—É –≤ `csv` –¥–ª—è –æ—Ç–ø—Ä–∞–≤–∫–∏ –≤ –æ—Ç–¥–µ–ª –∑–∞–∫—É–ø–æ–∫

In [98]:
products_purch_dep=info_sold_products[['stock_code','description','group']]
products_purch_dep.to_csv('products_purch_dep.csv',index=False)

# üéâüéâüéâ –ü–æ–∑–¥—Ä–∞–≤–ª—è–µ–º, —Ç—ã –≤–µ–ª–∏–∫–æ–ª–µ–ø–µ–Ω!